.bg-content {
    background-color: #f4f6fb;
}

.bg-card {
    background-color: #dee2ed !important;
}

.mx-20 {
    margin: 0 20px;
}

.h-100px {
    height: 100px !important;
}

.show-password {
    position: absolute;
    top: 40%;
    right: 20px;
    cursor: pointer;
}
